body{
	font-family: Crimson Text;
	font-size: 12pt;
	margin: 0;
}

 h1,h2{
	font-family: Lobster;
	color: #5D4037;
}





/* -- HEADER -- */

/* NAVIGATION bar styles */
#navbar{
	background-image: linear-gradient(to right, #FF6F00,#FFA000);
	min-width: 960px;
}

#navbar .menu{
	border-bottom: 1px solid white;
	border-top: 4px solid  #3E2723;
	position: relative;
}

#navbar .menu:after{
	content: ""; 
	display: block; 
	clear: both; 
	visibility: hidden; 
}

#navbar .menu ul{
	list-style-type: none;
	padding: 0;
}

#navbar .menu ul > li{
	display: inline;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

#navbar .menu ul > li:hover{
	text-decoration: underline;
	text-decoration-color: #3E2723;
}

#navbar .menu ul > li a{
	text-decoration: none;
	color: white;
}

#navbar .logo{
	background: url('img/logo.png') no-repeat;
	position:absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 5px;
	height: 122px;
	width: 198px;
}

#navbar h1.logo > a{
	opacity: 0;
	width: inherit;
	height: inherit;
	display: block;
}

#navbar div[class*= "menu-"]{
	width: 41%;
}

.menu-left{
	float: left;
	text-align: right;

}

.menu-right{
	float: right;
	text-align: left;
}


/* PAGE TITTLE styles */
#page-title{
	background-image:url('img/bg.png')  ;
	background-size: cover;
	height: 400px;
	min-width: 960px;
	text-align: center;

}

#page-title h1{
	padding-top: 135px;
	font-size: 42px;
	margin: 0px auto 20px auto;
	width: 960px;
}

#page-title p.breadcrumb{
	margin: 0 auto;
	width: 960px;
}





/* -- CENTER --*/
#main{
	background-image: url('img/pattern.png');
	padding-bottom: 25px;
	min-width: 960px;

}

#main .main-text{
	text-align: center;
}

#main .main-text h1{
	width: 70%;
	font-size: 48px;
	margin: 0 auto;
	padding: 50px  0px 15px 0px;
}

#main .main-text p{
	margin-bottom: 35px;
}

#main >  div[class*="row"]{
	width: 960px;
	margin: 0 auto;
}

#main .form div.row{
	overflow: hidden;
	margin: 20px 0px 20px 0px;
}

#main .form div.row .left, .right{
	width: 45%;
	float: left;
}

#main .form div.row .left{
	margin-right: 30px;
}


/* CONTACT styles */
#main  div.form{
	float: left;
	width: 57%;	
}

#main div.form :last-child{
	margin-bottom: 0;
}

#main div.box{
	background-color: white;
	padding: 20px 13px 15px 13px;
	border: 1px solid #e6e6e6;
	margin-bottom: 25px;
}

#main div.box > p{
	margin: 0;
}

#main div.box > h2{
	margin:0px 0px 30px 0px;
}

#main div.contacts{
	overflow: hidden;
	margin-top: 20px;
}

#main .form div.row input[placeholder]{
	width: 100%;
	line-height: 30px;
}

#main button{
	text-align: center;
	background-color: #FF8F00;
	font-family: inherit;
	font-size: inherit;
	border:none;
	color: white;
	margin:0;
	padding: 10px 25px 10px 25px;
}

#main button:hover{
	background-color: #5D4037;

}

#main input, textarea{
	background-color: #fbfbfb;
	border:1px solid #e6e6e6;
	padding:5px;
	font-family: inherit;
	font-size: inherit;
}

#main .form div.row textarea{
	width: 95%;
	height: 220px;
}

#main .form label > input {
	transform: scale(1.3);
	box-shadow: 1px 0px #e1e1e1;
}


/* INFO styles */

#main div.info{
	float: left;
	width: 33%;
	overflow: hidden;
	margin-left : 64px;
}

#main div.info i + a{
	text-decoration: none;
	color:  #FF8F00;
}

#main div.info i + a:hover{
	text-decoration: underline;
	color: #5D4037;
}

.social i[class *= "fa-"]{
	font-size:35px;
	padding:0px  15px 0px 0px;
}

#main .social i{
	color: #FF8F00;
}

#main .social i:hover{
	color: #5D4037;
}


/* NEWSLETTER styles */
#main div.newsletter{
	margin: 0 auto;
	width: 930px;
}

#main div.newsletter button{
	width: 20%;
}

#main div.newsletter input{
	width: 78%;
	line-height: 32px;
	display: block;
	float: left;
}





/* -- FOOTER -- */

#footer{
	background-color: #282525;
	min-width: 960px;

}

#footer .main{
	overflow: hidden;   
	width: 960px;
	margin: 0 auto;
}


#footer .main > *{
	float : left;
	width: 23%;
	margin: 25px 15% 0px 0px;
}

#footer .main :last-child{
	margin-right: 0px;
}


#footer div.footer-title{
	border-bottom: 1px solid white;
	padding : 0px 0px 15px 0px;
	font-weight: bold;
	letter-spacing: 1px;
}

#footer .inner * {
	color: white;	
}

#footer .footer-content{
	margin-top:15px;
}


/* Opening hours styles */


#footer div.hours table{
	width: 100%;
	border-spacing: 3px 6px;
}


#footer div.hours tr :last-child{
	text-align: right;
}


/* Footer social styles */
#footer .social i{
	color: #8c8c8c;
}

#footer .social i:hover{
	color: white;
}


/* Site menu styles */
#footer .inner ul{
	padding: 0; 
	list-style-position: inside;
}

#footer .inner ul > li{
	margin-bottom: 10px;
}

#footer .inner ul > li:hover{
	text-decoration: underline;
}

#footer .inner ul > li > a{
	text-decoration: none;
	padding-left: 10px;
}


/* Copyright styles */
#footer #copyright{
	background-color: #393535;
	color:white;
	padding:5px;
	text-align: center;	
}